


body {
  background-image: url('../public/images/businessman-holding-luggage-waiting-airport-arrival-generated-by-ai.jpg');
  background-size: 100vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}